/* Author: Mikias Hailu */
body{
	color: #484848;
	font: 14px Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
	padding: 0;
	margin: 0;
}
.container{
	max-width: 1000px;
	margin: 30px auto;
}

strong {
	font-weight: bold;
}
