/* Author: Mikias Hailu */
.filters {
	background-color: #ffffff;
	border-radius: 4px;
	height: 70px;
	border: 1px solid #dddddd;
	width: 100%;
}

.filters button{
	font-size: 18px;
	border-radius: 4px;
	border: none;
	float: right;
	height: 48px;
	color: #ffffff;
	width: 20%;
	background: #ff5a5f;
	margin: 12px 30px;
}
.filters button:hover{
	background-color: rgba(255, 90, 95, .9);
}
