/* Author: Mikias Hailu */
.filters {
	display: inline-block;
	height: 70px;
	width: 100%;
	border-radius: 4px;
	background-color: #ffffff;
	border: 1px solid #dddddd;
}
.filters button{
	height: 48px;
	width: 20%;
	font-size: 18px;
	border: none;
	margin: 12px 30px;
	float: right;
	border-radius: 4px;
	color: #ffffff;
	background-color: #ff5a5f;
}
.filters button:hover{
	background-color: rgba(255, 90, 95, .9);
}
.filters .locations,
.filters .amenities {
	display: inline-block;
	width: 25%;
	height: 100%;
	position: relative;
}
.filters .locations {
	border-right: 1px solid #dddddd;
}
.filters .locations:hover,
.filters .amenities:hover {
	background-color: #fafafa;
}
.filters .popover {
	position: absolute;
	border: 1px solid #dddddd;
	background-color: #fafafa;
	border-radius: 4px;
	width: 100%;
	display: none;
}
.filters .locations:hover .popover,
.filters .amenities:hover .popover{
	display: block;
}
.filters .locations ul{
	list-style-type: none;
	padding: 6px 0 6px 0;
}
.filters .amenities ul{
	list-style-type: none;
}
.filters .locations li {
	margin: 0 auto 12px 3em;
}
.filters .amenities li {
	margin: 12px auto 12px 30px;
}

/* places header*/
.filters h2,
.filters h3,
.filters h4 {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border.box;
	margin: 0;
	box-sizing: border-box;
}
.filters h2 {
	margin: 12px auto 0 30px;
	font-size: 16px;
	font-weight: bold;
}
.filters h3 {
	font-size: 1.17em;
	padding: 15.5px 0 0 30px;
	font-weight: 600;
	height: 50%;
}
.filters h4 {
	font-size: 14px;
	font-weight: 400;
	height: 50%;
	padding: 5px 0 12px 30px;
}
