/* Author: Mikias Hailu  */
.places article {
	width: 390px;
	margin: 20px;
	padding: 20px;
	border-radius: 4px;
	display: inline-block;
	border: 1px solid #ff5a5f;
}
.places h1 {
	width: 100%;
	font-size: 30px;
	margin: .67em 0 .67em 0;
	font-weight: bold;
}	
.places h2 {
	text-align: center;
	font-weight: bold;
	font-size: 30px ;
}
